[submodule "vendor/vulkan-zig"]
	path = vendor/vulkan-zig
	url = https://github.com/Snektron/vulkan-zig
[submodule "vendor/shaderc"]
	path = vendor/shaderc
	url = https://github.com/google/shaderc
[submodule "vendor/tracy"]
	path = vendor/tracy
	url = https://github.com/wolfpld/tracy
